<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PCShutdown.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PCShutdown.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PCShutdown.Properties.Settings>
            <setting name="Delay" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Autorun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="UrlAcl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PasswordCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WorkPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckMAC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UnlockPin" serializeAs="String">
                <value>0000</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="TelegramBotToken" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>8888</value>
            </setting>
            <setting name="TelegramAdmin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlexStarTVInputs" serializeAs="String">
                <value>one@ScreenOff;two@ScreenOn;three@MediaPause;</value>
            </setting>
        </PCShutdown.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PCShutdown.Properties.Settings>
            <setting name="AdvancedSettings" serializeAs="String">
                <value>True</value>
            </setting>
        </PCShutdown.Properties.Settings>
    </applicationSettings>
</configuration>